.tableExample {
  border-spacing: 0;
  margin: 20px auto;
  width: 75%;

  th {
    font-family: Montserrat-Medium, Arial, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    background-color: #36304a;
    padding: 24px 10px 20px 42px;
    border-bottom: 4px solid #FFFFFF;
  }

  td {
    font-family: Montserrat-Medium, Arial, sans-serif;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 18px 10px 14px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
}

